<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fire.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FireOSX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FireTVOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FireWatchOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>463712041B04C2050019E1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4637120F1B04C2050019E1AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C2D1C971EA77F7A0096A4AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C33F0E21EAB05EB001D903D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C378A891EAB067F00674D0F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C77E2ED1EA8AB69005668B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C77E3291EA8ABFC005668B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C77E3361EA8AC1E005668B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
